:root {
  --primary-color: hsl(var(--hsl-gold));
  --light-primary-color: hsl(var(--hsl-gold));
  --input-background: var(--color-bg);
  --page-background: var(--color-bg);
  --text-color: hsl(var(--hsl-fg));
  --text-color-muted: hsl(var(--hsl-fg-muted));
  --link-hover-color: var(--color-gold-600);
  --link-color: hsl(var(--hsl-gold-600) / 80%);
  --negative-color: var(--color-red-600);
  --dark-text-color: hsl(var(--hsl-base3) / 30%);
  --muted-text-color: hsl(var(--hsl-base3) / 40%);
  --light-text-color: hsl(var(--hsl-base3) / 75%);
  --unselected-text-color: hsl(var(--hsl-fg-muted));
  --hovered-text-color: hsl(var(--hsl-base3) / 80%);
  --pressed-text-color: hsl(var(--hsl-base3) / 90%);
  --selected-text-color: hsl(var(--hsl-base3) / 95%);
  --disabled-text-color: hsl(var(--hsl-base3) / 30%);
  --inverted-text-color: hsl(var(--hsl-base05) / 90%);
  --inverted-muted-text-color: hsl(var(--hsl-base05) / 80%);
  --inverted-light-text-color: hsl(var(--hsl-base05) / 70%);
  --inverted-unselected-text-color: hsl(var(--hsl-base05) / 50%);
  --inverted-hovered-text-color: hsl(var(--hsl-base05) / 100%);
  --inverted-pressed-text-color: hsl(var(--hsl-base05) / 100%);
  --inverted-selected-text-color: hsl(var(--hsl-base05) / 100%);
  --inverted-disabled-text-color: hsl(var(--hsl-base05) / 20%);
  --border-color: hsl(var(--hsl-base3) / 20%);
  --strong-border-color: hsl(var(--hsl-base3) / 28%);
  --internal-border-color: hsl(var(--hsl-base3) / 10%);
  --selected-border-color: hsl(var(--hsl-base3) / 35%);
  --strong-selected-border-color: hsl(var(--hsl-base3) / 50%);
  --disabled-border-color: hsl(var(--hsl-base3) / 50%);
  --solid-internal-border-color: hsl(var(--hsl-fg-muted) / 40%);
  --solid-border-color: hsl(var(--hsl-fg-muted) / 40%);
  --solid-selected-border-color: hsl(var(--hsl-fg-muted) / 40%);
  --primary-color-hover: hsl(var(--hsl-gold) / 40%);
  --primary-color-focus: var(--color-gold);
  --primary-button-focus-background-color: hsl(var(--hsl-gold) / 40%);
  --primary-button-active-background-color: var(--hsl-gold);
  --primary-button-down-background-color: var(--hsl-gold);
  --button-background: hsl(var(--hsl-gold) / 40%) none;
  --button-hover-background-color: var(--color-gold-100);
  --button-hover-color: var(--color-gold-100);
  --button-hover-background-image: var(--color-gold-100);
  --button-text-color: hsl(var(--hsl-fg));
  --button-hover-background-color: hsl(var(--hsl-gold) / 60%);
  --button-down-background-color: hsl(var(--hsl-base03) / 80%);
  --button-active-background-color: hsl(var(--hsl-base01) / 70%);
  --basic-button-box-shadow: 0px 0px 0px 1px var(--color-base05) inset;
  --basic-button-hover-background: var(--color-gold-200);
  --basic-button-down-background: hsl(var(--hsl-base03) / 50%);
  --label-basic-background: none var(--color-green);
  --segment-background: var(--hsl-bg);
  --secondary-segment-background: hsl(var(--hsl-base02));
  --grouped-segment-group-segment-box-shadow: 0 0 0 1px
      hsl(var(--hsl-base3) / 20%),
    0 1px 1px hsl(var(--hsl-neutral-900) / 0.1),
    0 1.5px 3px -2px hsl(var(--hsl-neutral-900) / 0.3),
    0 4px 6px hsl(var(--hsl-neutral-900) / 0.04),
    0 8px 12px -1px hsl(var(--hsl-neutral-900) / 0.03);
  --grouped-segment-hover-background: hsl(var(--hsl-base02) / 80%);
  --piled-segments-background: var(--subtle-transparent-black);
  --form-select-background: var(--color-bg);
  --form-input-focus-border-color: hsl(var(--hsl-fg-muted) / 40%);
  --form-textarea-focus-border-color: hsl(var(--hsl-fg-muted) / 40%);
  --menu-background: var(--color-bg);
  --vertical-menu-background: var(--color-bg);
  --tabular-menu-active-background: none hsl(var(--hsl-base03));
  --message-background: hsl(var(--hsl-grey));
  --checkbox-background: hsl(var(--hsl-gold) / 40%);
  --checkbox-pressed-background: var(--color-bg);
  --checkbox-focus-background: var(--color-base02);
  --checkbox-active-background: hsl(var(--hsl-gold) / 40%);
  --checkbox-active-focus-background: var(--color-base02);
  --checkbox-focus-border-color: var(--color-white);
  --checkbox-active-focus-border-color: var(--color-white);
  --toggle-lane-background: var(--strong-transparent-black);
  --toggle-on-focus-lane-color: var(--color-gold-200);
  --dropdown-menu-background: var(--color-bg);
  --inline-dropdown-menu-background: none hsl(var(--hsl-gold-100) / 80%);
  --modal-box-header-background: var(--color-bg-highlight);
  --modal-box-content-background: var(--color-bg);
  --modal-box-actions-background: var(--color-bg-muted-highlight);
  --modal-box-header-background: var(--color-bg);
  --modal-box-actions-background: var(--color-bg);
  --sidebar-background: var(--color-bg);
  --sidebar-border-right: 1px solid hsl(var(--hsl-base02));
  --sidebar-menu-item-color: var(--text-color);
  --sidebar-menu-item-active-background: var(--color-gold-200);
  --sidebar-menu-item-inactive-background: var(--color-gold-400);
  --sidebar-sync-status-view-background: hsl(var(--hsl-bg));
  --sidebar-sync-status-view-border-top: 1px solid hsl(var(--hsl-base02));
  --sidebar-sync-status-view-text-color: var(--text-color-muted);
  --note-list-bar-background: var(--color-bg);
  --note-list-bar-border-right: 1px solid hsl(var(--hsl-base02));
  --note-list-view-item-color: var(--text-color-muted);
  --note-list-view-item-header-color: var(--text-color);
  --note-list-view-item-separator-border: 1px solid hsl(var(--hsl-base02));
  --note-list-view-item-date-color: var(--color-gold);
  --note-list-view-item-selected-background: var(--color-gold-400);
  --note-list-view-item-active-background: var(--color-gold-200);
  --note-search-bar-input-background: hsl(var(--hsl-grey));
  --mark-color: var(--color-gray-50);
  --editor-background: var(--color-bg);
  --editor-floating-actions-background: hsl(var(--hsl-gold) / 40%);
  --editor-drawer-background: none hsl(var(--hsl-gold-100) / 60%);
  --notification-item-background: hsl(var(--hsl-gold-100) / 40%);
  --preferences-sidebar-background: hsl(var(--hsl-bg));
  --preferences-view-background: hsl(var(--hsl-bg-muted-highlight));
  --tag-default-circular-background-color: var(--color-blue);
  --tag-default-circular-border-color: var(--color-blue);
  --tag-default-background-color: var(--color-green);
  --tag-default-text-color: var(--text-color-muted);
  --tag-grey-color: none var(--text-color);
  --tag-yellow-color: var(--color-white);
  --info-header-color: var(--text-color);
  --info-text-color: var(--text-color-muted);
  --info-background-color: hsl(var(--hsl-gold) / 20%);
  --preferences-sidebar-item-active-background: var(--color-gold-200);
  --preferences-view-background: hsl(var(--hsl-bg));
  --tabular-menu-border-color: hsl(var(--hsl-gold));
  --tabular-menu-active-background: none var(--color-gold-200);
  --scrollbar-thumb-background: none var(--color-blue);
  --input-focus-border-color: var(--color-gold);
  --input-focus-box-shadow: hsl(var(--hsl-fg-muted) / 40%) none;
  --focus-outline-color: hsl(var(--hsl-fg-muted) / 40%);
  --focused-form-muted-border-color: hsl(var(--hsl-fg-muted) / 40%);
  --focused-form-border-color: hsl(var(--hsl-fg-muted) / 60%);
}

:root:has(body.acrylic-window) {
  --page-background: transparent;
  --editor-background: rgb(0 0 0 / 20%);
  --note-list-bar-background: rgb(0 0 0 / 40%);
  --sidebar-background: rgb(0 0 0 / 20%);
  --sidebar-sync-status-view-background: rgb(0 0 0 / 10%);
}

:root:has(body.acrylic-window.platform-win32) {
  --page-background: rgb(0 0 0 / 40%);
}
